.status {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.statusOn {
  composes: status;
  background-color: rgb(250, 4, 4);
}

.statusOff {
  composes: status;
  background-color: rgb(21, 189, 21);
}

.name {
  font-size: 50px;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);
}

.avatar {
  width: 60px;
  margin-left: 30px;
  margin-right: 30px;
}
